* {
    font-family: sans-serif;
}

header {
    background-image: linear-gradient(to right, rgb(139, 160, 255), navy);
    color: white;
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    padding: 3px;
}

#search-btn {
    background-color: rgb(139, 160, 255);
    border-radius: 5px;
    border-color: rgb(139, 160, 255);
    box-shadow: white;
}

.col-12 {
    display: block;
}

#hi {
    display: block;
    justify-content: right;
}

.displaybox {
    justify-content: right;
}

#forecast {
    display: flex;
    justify-content: space-around;
}

#forecast div {
    flex: 0 0 15%
}

.border {
    border: red 2px solid;
}